/web/bundles/
/web/integration/dist/
/app/config/parameters.yml
/var/participants_imports
/var/planning-print
/var/planner
/var/sms
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache
/var/logs
/var/shared_uploaded_files
/vendor/
/bin/*
!/bin/composer.phar
/build/
!bin/console
!bin/symfony_requirements
/composer.phar
/*.sql
/behat.yml

# Tests
/var/tests/*
!var/tests/.gitkeep

# Npm
/node_modules/

# Bower
/bower_components/

# Assets
/web/assets/

# Vagrant
/.vagrant/

# Ansible
ansible.cfg
/ansible/roles/*.*/

# PHP CS Fixer
.php_cs.cache

# App
.openl10n.yml
/web/uploads/*
/web/css/*
/web/media/*

# Sessions
/app/sessions

# php-git-hooks tool.
.guard_coverage
