default:

    extensions:
        Behat\Symfony2Extension:
            kernel:
               path:  features/bootstrap/FeatureKernel.php
               class: FeatureKernel
               env:   test
        Behat\MinkExtension:
            base_url:  'http://vimeet.proximum.dev/app_test.php'
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
        Fidry\AliceBundleExtension\Extension:
            fixtures_base_path: ~

    suites:
        default:
            contexts:
                - Fidry\AliceBundleExtension\Context\Doctrine\AliceORMContext:
                    basePath: %paths.base%/src/Bundle/InfrastructureBundle/DataFixtures/ORM
                - FeatureContext: ~
