<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS" value="Kernel" />
        <ini name="memory_limit" value="-1" />
        <ini name="date.timezone" value="UTC" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="52ce67ebde6466778e51288e731ad0a2"/>
        <!-- env name="TRUSTED_PROXIES" value="127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16" -->
        <!-- env name="TRUSTED_HOSTS" value="'^(localhost|example\.com)$'" -->
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml -->
        <!--  -->
        <env name="VIMEET_DATABASE_URL" value="mysql://app:password@127.0.0.1:3306/proximum_vimeet_test?serverVersion=5.6"/>
        <!-- ###- doctrine/doctrine-bundle ### -->

        <!-- ###+ friendsofsymfony/elastica-bundle ### -->
        <env name="ELASTICSEARCH_URL" value="http://localhost:9200/"/>
        <!-- ###- friendsofsymfony/elastica-bundle ### -->
    </php>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/*Bundle/Resources</directory>
                <directory>src/*Bundle/DataFixtures</directory>
                <directory>src/*Bundle/Tests</directory>
                <directory>src/*/*Bundle/Resources</directory>
                <directory>src/*/*Bundle/DataFixtures</directory>
                <directory>src/*/*Bundle/Tests</directory>
                <directory>src/*/Bundle/*Bundle/Resources</directory>
                <directory>src/*/Bundle/*Bundle/DataFixtures</directory>
                <directory>src/*/Bundle/*Bundle/Tests</directory>
                <directory>src/*/Tests</directory>
                <directory>src/*/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
