
.quarterSection-container {
    clear: both;
    width: 105mm;
    height: 148mm;
}

.halfXSection-container {
    page-break-after: always;
    clear: both;
    width: 105mm;
    height: 297mm;
}

.quarterSection {
    position: relative;
    width: 98mm;
    height: 141mm;
    margin: 0;
}

.halfXSection {
    position: relative;
    width: 98mm;
    height: 297mm;
    margin: 0;
}

.quarterSection-container--upRight {
    position: absolute;
    left: 105mm;
    top: 0;
}

.quarterSection-container--upRight .quarterSection {
    margin-left: 7mm;
}

.quarterSection-container--downLeft {
    position: absolute;
    top: 148mm;
}

.quarterSection-container--downLeft .quarterSection {
    margin-top: 7mm;
}

.quarterSection-container--downRight {
    position: absolute;
    left: 105mm;
    top: 148mm;
}

.quarterSection-container--downRight .quarterSection {
    margin-top: 7mm;
    margin-left: 7mm;
}

.halfXSection-container--right {
    position: absolute;
    left: 105mm;
    top: 0;
}

.halfXSection-container--right .halfXSection {
    margin-left: 7mm;
}

.badge-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.badge-image--logo {
    max-height: 44mm;
}

.badge-planning {
    width: 50%;
    margin-left: 50%;
    margin-top: -71%;
    padding: 0;
    position: relative;
}

.badge-planning .badge-planning-content {
    margin: 15px;
    margin-left: 25px;
    font-size: 9pt;
}

.printZone-fix {
    width: 210mm;
    height: 297mm;
    position: absolute;
}
