.agenda-container {
  [v-cloak] {
    display: none;
  }

  .table-no-margin-bottom {
    margin-bottom: 0
  }

  .table-agenda {
    margin-right: 10px;

    td {
      vertical-align: top;
    }
  }

  .agenda-horizontal {
    white-space: nowrap;
    overflow: scroll;
    height: calc(100vh - 105px);

    .agenda-panel {
      margin: 0 5px 0 5px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .table-agenda-day {
    tr.table-agenda-day-slot {
      &.table-slot-spot {
        > td {
          height: 55px;
          overflow-y: hidden;
        }
        .slot {
          min-height: 55px;
        }
      }
      > td {
        height: 80px;
        overflow-y: hidden;
      }
    }
    td {
      padding: 0 !important;
      border: 1px solid #ddd;
    }
  }

  .agenda-sheet-focus {
    background: #32b5fc;
  }

  .slot {
    padding: 4px;
    min-height: 65px;
    min-width: 120px;

    &.meeting {
      background: #32b5fc;
    }

    &.meeting-common {
      background: #ffe237;
    }

    &.happening {
      background: #000000;
      color: #ffffff;
    }

    &.unavailability {
      background: #999999;
      color: #ffffff;
    }

    &.mass-unavailability {
      background: darkblue;
      color: #ffffff;
    }

    &.available {
      background: #75cb0b;
    }

    &.meeting-to-be-moved {
      background: greenyellow;
    }

    &.meeting-on-other-sheet {
      background: orange;
    }

    .slot-label {
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .slot-time {
      font-size: 85%;
      display: inline;
    }
  }

  .sheets-list {
    position: fixed;
    left: 0;
    height: calc(100vh - 300px);
    width: 17%;
    overflow-y: scroll;
    padding: 0 0 100px 10px;
  }

  .spots-list {
    position: fixed;
    left: 0;
    height: calc(100% - 150px);
    width: 17%;
    overflow-y: scroll;
    padding: 0 0 0 10px;
    .spot-td {
      cursor: pointer;
      height: 50px;
      text-align: center;
      vertical-align: middle;
    }
  }

  .agenda-slot-meeting-list {
    li {
      float: left;
      padding: 5px;
      .title {
        > a {
          width: 100px;
          color: inherit;
          text-overflow: ellipsis;
          /* Required for text-overflow to do anything */
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }
        float: left;
        width: 100px;
      }
      .separator {
        float: left;
        width: 10px;
      }
    }
  }

  .sheet-title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    width: 135px;
  }

  .link-to-sheet {
    margin-right: 6px;
    float: left;

    span.glyphicon:before {
      content: "\e164";
    }
  }

  .glyphicon {
    z-index: 1; /* fix for not having glyphicons on top of request-list */
  }

  .requests-list {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 17%;
    background: #ddd;
    padding: 10px 10px 0;
    z-index: 2; /* fix for not having glyphicons on top of request-list */

    .requests-list-scrollable {
      height: 200px;
      overflow-y: scroll;
      background-color: #fff;
      font-size: 85%;
    }

    .request-to-be-placed {
      background: greenyellow;
    }
  }

  .sheet-cancelled-attendance {
    background: #999999;
    color: #ffffff;
  }

  .not-transformable-into-meeting {
    background: #b8b8b8;
    color: #ffffff;
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.agenda-tab {
  position: fixed;
  width: 100%;
  top: 60px;
  left: 15px;
}

.agenda-tab-content {
  position: fixed;
  width: 100%;
  top: 105px;
  left: 15px;
}

.modal-content {
  overflow-y: scroll;
}

.fontWeight-normal {
  font-weight:normal;
}
