
.template-builder-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;

    .template-builder-header {
        padding-top: 50px;
        border-bottom: 1px solid #ccc;

        .btn-toolbar {
            margin-top: 20px;
        }

        .dropdown-menu {
            .text-center {
                text-align: center;
            }

            .template-locale {
                margin-right: 50px;
            }

            .template-fallback {
                font-weight: bold;
            }
        }
    }

    .template-builder-body {
        flex: 1;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        .add-block {
            margin: 10px;
        }

        .block {

            margin: 20px 0px;
            position: relative;

            .row {
                margin-left: 40px;
            }

            .block-inner {
                border: 3px dashed #ccc;
                min-height: 300px;

                >.block {
                    margin: 20px;
                }
            }

            .block-collection {
                background-color: #5bc0de;
            }

            >.block-buttons {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                background-color: #ccc;
                border-radius: 20px;
                width: 40px;
                padding: 10px 0;
            }
        }

        .object {

            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            margin: 15px;
            background-color: #fff;

            >.block-buttons {
                border-bottom: 1px solid #eee;

                >li {
                    >.btn {
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                }
            }

            .object-title {
                font-weight: bold;
            }

            .select2, .select2-container {
                width: 100% !important;
            }

        }
    }

    .template-builder-menu {

        position: absolute;
        top: 50px;
        bottom: 0;
        right: -410px;
        transition: all 0.3s ease;

        .slide-menu-button {
            margin-top: 30px;
            line-height: 100px;
        }

        &.slide-menu-container-open {
            right: 0px;
        }

        .template-builder-menu-wrapper {
            height: 100%;
            padding: 20px;
            width: 400px;
            margin-left: 2px;
            float: left;
            background-color: #fff;
            border-left: 1px solid #ccc;
            overflow-y: scroll;
        }

        .block-list {

            .block {

                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 10px;
                margin: 15px 0;

                .block-buttons {
                    display: none;
                }

                .block-inner {
                    background-color: #ccc;
                    height: 80px;
                }

                .block-collection {
                    background-color: #5bc0de;
                }
            }

        }

        .object-list {
            .object {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 10px;
                margin: 15px 0;
                cursor: move;

                .block-buttons {
                    display: none;
                }
            }
        }

        .print-object-list {
            .object {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 10px;
                margin: 15px 0;
                cursor: move;

                div {
                    font-weight: bold;
                }

                .block-buttons {
                    display: block;
                    float: right;

                    li {
                        display: none;
                    }

                    li.object-title {
                        display: block;
                    }
                }
            }
        }

    }

}
