.separator {
  position: absolute;
  height: 110px;
  width: 0px;
  border-right: 1px solid black;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-subtitle {
  margin-top: 10px;
}

.relative-modal {
  position: relative;
}
