.modal-subtitle {
  margin-top: 10px;
}

.custom-modal-content {
  background: #e8e8e9;
  border-radius: 4px;
  min-height: 250px;
  position: relative;
}

.custom-modal-text {
  padding: 10px;
}

.custom-modal-button-parent {
  position: absolute;
  bottom: 15px;
  width:100%;

  .custom-modal-button-child {
    margin: 0 auto;
  }
}

.modal-welcome {
  background: none !important;
  margin: 15px 35px;
}

.relative-modal {
  position: relative;
}

.modal-dialog.modal-display-large {
  width: 80%;

  > .modal-content {
      padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .modal-dialog.modal-display-large {
    width: auto;
  }
}
