$bg-body-color: #FFFFFF;
$bg-container-color: #E8E8E9;

$gradient-left-color: #59a4eb;
$gradient-right-color: #00398c;
$gradient-text-color: #FFFFFF;

$color-primary: #2F2F2F;
$color-highlighted: #00398C;
$color-notification: #FF4902;

$button-text-color: #FFFFFF;
$button-bg-color-inactive: rgba(#FFFFFF, .15);
