@media print {
  * {
    font-family: 'none' !important;
    font-stretch: normal !important;
    text-transform: none !important;
  }

  *:not(.print-bg),
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; // Black prints faster
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    font-size: 10px !important;
  }

  table {
    font-size: 8px !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2 {
    font-size: 16px !important;
    border-bottom: 1px solid #2f2f2f !important;
    padding-bottom: 4px !important;
    margin-bottom: 4px !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  footer a {
    display: none;
  }

  .section__content {
    .show-less {
      max-height: none !important;;
      overflow: visible !important;
    }
  }

  // Folded corner
  .style--style-2, .object--media {
    &:after,
    &:before {
      content: none !important;
      font-size: 8px !important;
    }
  }

  .object--nomenclature.style--style-3 {
    margin-top: 4px !important;
    border: none !important;
    border-left: none !important;
  }

  .object--nomenclature.style--style-3:before {
    width: 0 !important;
    height: 0 !important;
  }

  .object--collection.style--style-3 {
    padding: 0 !important;
    border: none !important;
  }

  .object--collection.style--style-1 {
    padding-top: 0 !important;
    border-top: none !important;
  }

  .object--collection.style--style-1 ul > li {
    padding: 0 !important;
  }

  .object--nomenclature ul > li:after,
  .object--collection.style--style-2 ul > li:after,
  .object--collection.style--style-3 ul > li:after {
    font-size: 6px !important;
  }

  .object--tag {
    &.style--default {
      ul {
        > li:after {
          font-size: 6px !important;
        }
      }
    }
  }

  .section {
    margin-bottom: 4px !important;
    padding: 0 !important;
    border: none !important;
  }

  .section--list {
    padding-top: 5px !important;
    border-top: none !important;
  }

  .object--nomenclature .badge-skill {
    padding: 0 !important;
    vertical-align: bottom !important;
    display: inline !important;
  }

  .object--text.style--style-2 > header {
    display: block !important;
    height: auto !important;
  }

  .object--participant .list--users .user__avatar .avatar {
    width: 50px !important;
    height: 50px !important;

    > p {
      font-size: 15px !important;
    }
  }

  .object--participant .list--users .user__avatar {
    margin-right: 10px !important;
  }

  .sheet-header, .header, .sub-header, .btn, .edit-link, .tabs a, .link-show-more {
    display: none !important;
  }

  .table-sm > tbody > tr > td {
    padding: 4px;
  }

  .image-print-size {
    max-width: 210px !important;
    max-height: 160px !important;
  }

  .invoice {
    page-break-after: always;
  }
}
