
button, a {
    &:active, &:hover, &:focus, &:link, &:target, &:visited {
        outline:none !important;
    }
}

.btn {
    &.btn-primary, &.btn-gray, &.btn-inactive, &.btn-no-style, &.btn-lg, &.btn-black, &.btn-default {
        position: relative;
        font-size: 15px;
        line-height: 22px;
        font-family: OpenSans, Helvetica, sans-serif;
        text-transform: uppercase;
        border: none;
        border-radius: 18px;
        transition: background .2s ease-in-out;

        > i[class^='icon-'],
        > img {
            float: left;
            margin-right: 5px;
            font-size: 20px;
            max-width: 20px;
            max-height: 20px;
        }

        &:hover,
        &:active,
        &:focus {
            color: $button-text-color;
            @include bg-linear-gradient($gradient-left-color, $gradient-right-color);
        }
    }

    &.btn-success, &.btn-danger {
        border: none;
        border-radius: 18px;
    }

    &.btn-primary {
        @include bg-linear-gradient($gradient-left-color, $gradient-right-color);
        color: $button-text-color !important;
    }

    &.btn-gray {
        background: $bg-container-color !important;
        color: $color-highlighted !important;
    }
}

.btn-primary {
    &.accept {
       background: #21A200 !important;
    }
    &.reject {
      background: #FF4902 !important;
    }
}

.btn-black {
    color: white;
    background: $color-primary !important;
    i.icon-Retard {
        font-size: 1.5em;
        margin-right: 5px;
        vertical-align: middle;
    }
}

.btn-gray {
    &.accept {
        color: #21A200 !important;
    }
    &.reject {
        color: #FF4902 !important;
    }
}

.btn-no-style {
  text-transform: none !important;
  color: $color-highlighted !important;
  background: $button-bg-color-inactive !important;
}

.btn-inactive {
  background: $button-bg-color-inactive !important;

  &:hover { background: $button-bg-color-inactive-hover !important; }
}

.btn-lg {
  padding-left: 46px;
  height: 45px;
  line-height: 27px;

  > i[class^='icon-'],
  > img {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 25px;
  }
}

.glyphicon { margin-right: 8px; }

.alert-notification {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  line-height: 20px;
  text-align: center;
  background: $color-notification;
  font-style: normal;

  .sub-header & {
    display: inline-block;
    margin-right: .5em;
  }

  .notifs & {
    display: block;
    margin-left: 10px;
    float: right;
  }
}
