.styled-form {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: $bg-container-color;

    .inputs {
        .form-group {
            margin-bottom: 20px;

            &.split {
                display: flex;

                > * {
                    margin-right: 10px;

                    &:last-child { margin-right: 0; }
                }
            }
        }

        .form-group:last-child {
            margin-bottom: 0 !important;
        }
    }

    .back {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 20px;

        &:hover { text-decoration: none; }
    }

    .validation {
        margin-top: 10px;

        button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            > i { margin-top: -2px; }
        }
    }

    label {
        margin-left: 5px;
        font-weight: normal;
    }

    input[type="file"] {
        background: none;
        border: none;
        padding: 0;
        box-shadow: none;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    textarea,
    select {
        width: 100%;
        border: 1px solid #BBBDBF;
        padding: 11px 12px;
        height: auto;
        border-radius: 0;

        &:focus {
            outline: none;
            border-bottom: 2px solid $gradient-right-color;
        }

        &.error {
            color: $bg-fail-color;
            border-bottom: 2px solid $bg-fail-color;
        }
    }

    .form-info {
        padding: 15px 0 15px 0;
    }
}
