ul {
  margin: 0;
  padding: 0;

  li { list-style-type: none; }
}

.list { margin-bottom: 20px; }

.list--block {
  > li {
    color: $color-highlighted;
    font-family: OpenSans, Helvetica, sans-serif;
    padding: 5px 10px;
    background: #FFFFFF;

    &:nth-child(even) { background: $bg-container-color; }
  }
}

.list--buttons {
  > li {
    margin-bottom: 10px;

    a {
      position: relative;
      display: block;
      color: $color-primary;
      padding: 12px 16px;
      border-radius: 5px;
      background: $bg-container-color;

      &:hover { text-decoration: none; }
      &:before {
        position: absolute;
        font-family: 'PictoOutline';
        top: 8px;
        right: 10px;
        content: '\4f';
        font-size: 20px;
        color: $color-highlighted;
      }
    }
  }
}

.list--medias {
  > li {
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }
  }

  i[class^='icon-'] {
    float: left;
    font-size: 20px;
    margin-right: 4px;
  }
}

.section-change-order {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.list--users {
  .user {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;

    p { margin: 0; }
  }

  .user--notif {
      .bullet { display: block !important; }
  }

  .user__avatar {
    position: relative;
    float: left;
    margin-right: 20px;

    .bullet {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 22px;
      height: 22px;
      background: $color-notification;
      border-radius: 100%;
      border: 2px solid $bg-container-color;
    }

    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 36px;
      text-align: center;
      overflow: hidden;
      background: #D0D0D0;

      > img { width: 100%; }
      > p {
        color: #FFFFFF;
        font-size: 35px;
      }
    }
    a  {
      color: #fff;
      text-decoration: none;
    }
  }

  .user__infos {
    width: 100%;

    .job {
      color: $color-highlighted;
      font-family: OpenSans, Helvetica, sans-serif;
      text-transform: uppercase;
    }

    .notif { color: $color-notification; }

    .sheets {
      font-weight: bold;
    }
  }
}

table.list--users {
  .user {
    margin-bottom: 0;
  }
}
