$slotHeight: 60px;

.agenda-container {
  margin: 50px 0 0 0;
  z-index: 0;

  button {
    > i {
      margin: 0 !important;
    }
  }

  .agenda-head,
  .agenda-foot {
    font-size: 17px;

    strong {
      font-size: 18px;
      text-transform: uppercase;
      margin-right: 3px;
    }
  }

  .agenda-head {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    p {
      width: 79%;
    }
  }

  .agenda-foot { text-align: right; }

  // this rules try to cancel ones applied by vimeet on bootstrap ones
  .agenda-slotToggle {
    .glyphicon {
      margin-right: 0;
    }

    .btn {
      border-radius: 4px;
      border: 1px solid #CCCCCC;
      line-height: normal;
      font-family: RobotoRegular, HelveticaNeue, Helvetica, sans-serif;
      font-size: 15px;

      &:hover,
      &:active,
      &:focus {
        color: rgb(51, 51, 51);
        background: rgb(230, 230, 230);
      }
    }
  }

  .insert {
    position: relative;
    width: 100%;
    height: $slotHeight;
    border-top: 1px solid #aaa;

    &:last-child {
      &:after { display: none; }
    }

    > span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      padding-top: 4px;
      font-size: 12px;
      background: #fff;
    }

    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      background-color: #eee;
    }
  }

  .meets {
    position: absolute;
    right: 15px - $agenda-meet-margin;
    width: calc(100% - 30px - 50px + 4px);
    z-index: 1;
    .happening {
      header {
        position: relative;
      }
      .actions {
        align-items: center;
        display: flex;
        justify-content: end;
        z-index: 9999;
        margin-left: 10px;
        padding-right: 45px;
        > a, .label {
          margin-left: 5px;
        }
        > .label {
          margin-top: 10px;
        }
      }
    }
  }

  .meet {
    position: absolute;
    left: 0;
    width: 100%;
    padding: $agenda-meet-margin;

    &.open {
      > header {
        height: 56px !important;
        .actions {
          display: block;
          z-index: 9999;
          position: absolute;
          right: 45px;
          bottom: 16%;
        }
      }

      .details { display: block; }
    }

    &.available {
      > header {
        background: transparent;

        .content {
          color: black;
        }
      }
    }

    > header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      min-height: 56px;
      background-color: #0093df;
      height: 100%;
      overflow: hidden;

      .content {
        display: flex;
        order: 0;
        flex: 10 0 auto;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 10px 0 25px;
        color: #fff;

        &:hover,
        &:focus { text-decoration: none; }

        > span {
          min-width: 30px;
          margin-right: 20px;
          line-height: 1;
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;

          .icon {
            display: block;
            margin-bottom: 5px;
            font-size: 20px;
          }
        }
      }

      p {
        margin-bottom: 0;
        overflow: hidden;
        width: 100%;
        line-height: 30px;
      }

      .happeningParticipateIcon {
        font-size: 30px;
      }
    }

    &.lock {
      > header { background-color: rgba(#545454, .9); }
    }

    &.break {
      > header { background-color: #78c23a; }
    }

    > .details {
      position: relative;
      display: none;
      padding: 20px;
      font-size: 14px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-top: 0;
      z-index: 1;

      footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;

        p { margin: 0; }

        a.btn { margin-left: 8px; }
      }
    }

    &.collapsed {
      header {
        text-align: center;

        .actions {
          display: none;
        }

        .content {
          padding: 0;

          .prefix {
            margin: 0 auto;
          }
          .title {
            display: none;
          }
        }
      }
    }
  }

  .all-sheet .meet {
    position: relative;
    padding: 0;
  }

  .all-sheet .meet:nth-child(even) {
    margin-top: 1px;
  }

  .slotToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 20%;
    padding: 2px;
    height: $slotHeight;
    z-index: 1;

    &--slot {
      margin-left: 80%;
    }
  }
}

.saveAvailabilityButton--fixed {
  position: fixed;
  z-index: 2;

  right: 0;
  top: 1em;

  .btn {
    border: white 1px solid !important;
  }
}

@media (min-width: 767.1px) {
  .saveAvailabilityButton--fixed {
    margin: 0 20px !important;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .saveAvailabilityButton--fixed {
    display: flex;
    align-items: center;
    justify-content: center;

    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    width: 90%;
  }

  .meeting-icon-label{
    display: none;
  }
}

@media (max-width: 640px) {
  .agenda-container {
    margin: 20px 0 0 0;

    .meet {
      > header {
        display: inherit !important;
        .actions {
          max-width: 60px !important;
        }

        .content {
          > p {
            overflow: visible;
            line-height: 1em !important;
          }

          > span {
            margin-right: 1%;
          }
        }
      }
    }
  }
}
