
.analyticsCard {
  margin-left: .5em;
  color: $color-highlighted !important;
  background-color: $bg-body-color;
  font-family: OpenSans, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: none;
}
