@media screen and (max-width: 425px) {
  .catalog-mobile-filters {
    width: 100%;
  }

  .catalog-mobile {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    background: $color-primary;
    top: 0;
    padding: 17px;
    z-index: 10;

    &.open {
      display: flex;
    }

    &.shadow {
      box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
    }

    .catalog-mobile-item {

      color: white;
      order: 0;
      flex: 0 1 auto;
      align-self: auto;

      .catalog-mobile-button {

        > span.button-count {
          float: right;

          > i.glyphicon {
              top: 3px !important;
              left: 5px !important;
          }
        }
      }

      &.open {

        .catalog-mobile-title {
          display: none;
        }

        .catalog-mobile-button {
          display: block
        }
      }

      .catalog-mobile-title {
        display: block;
        margin-left:12px;
        font-size: 15px !important;
      }

      .catalog-mobile-button {
        display: none;
      }

      > div {
        > ul {
          > li.catalog-mobile-filter {
            background: #525252;
            display: flex;
            flex-direction: column;
            flex-flow: row;
            margin-top: 8px;

            > a {
              color: white;
            }

            > span {
              text-align: left;
              float: left;
              position: relative;
              min-height: 1px;
            }

            > span.filter-content {
              width: 83.3333333333%;
              padding: 0;
            }

            > span.filter-count {
              margin-right: 10px;
              width: 16.6666666667%;
            }
          }
        }
      }
    }

    .catalog-mobile-menu {
      display: none;

      &.open {
        display: block !important;
      }
    }
  }

  .catalog-mobile-menu {
    .catalog-mobile-close {
      background: $color-primary;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 10px 0;
      text-align: right;

      .catalog-close {
        background: none;
        border: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        font-family: OpenSans, Helvetica, sans-serif;

        > i {
          font-size: 35px;
          float: right;
          margin: -4px 0 0 10px;
        }
      }
    }
  }

  .catalog {
    margin-top: 128px !important;
  }
}

@media screen and (min-width: 426px) {
  .catalog-mobile-menu {
    display: none;
  }
}
