
.chat-list {
  min-height: 2em;
  max-height: calc(100vh - 320px);
  margin-top: 10px;
  overflow-y: auto;
  padding-right: 5px;

  .btn.btn-gray {
    background-color: #D1D1D1 !important;
    height: 30px;
    width: 33px;
  }

  .glyphicon {
    margin-right: 0;
    margin-left: 8px;
  }

  .chat-row {
    border: 1px solid $color-highlighted;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-right: 30px;

    .chat-content {
      font-size: 16px;
      padding: 10px;
      color: $color-highlighted;
      background-color: white;
    }


    .chat-aside {
      text-align: right;

      i {
        cursor: pointer;
        color: #333;
      }
    }

    .chat-vote-count {
      border-radius: 0;
      color: white;
      font-size: 10px;
      font-weight: bold;
      margin-right: 0;
      padding: 0;
      vertical-align: sub;
    }

    .chat-vote-count-on {
      color: white;
    }

    .chat-emoticon {
      align-items: flex-end;
      background-color: white;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding: 10px;
      text-align: right;
      clear: right;
    }

    .chat-author {
      align-items: flex-end;
      @include bg-linear-gradient($gradient-left-color, $gradient-right-color);
      color: $button-text-color;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding: 4px 10px;
      text-align: right;
      clear: right;
    }

    .chat-author-name {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .chat-author-title {
      display: inline-block;
      margin-left: 5px;
      font-style: italic;
      text-align: right;
    }

    .chat-author-avatar {
      align-self: center;
      margin-left: 10px;
      border-radius: 50%;

      img {
        display: inline-block;
        height: 32px;
        object-fit: cover;
        width: 32px;
        border-radius: 50%;
      }
    }
  }
}

.chat-row-on {
  margin-right:0 !important;
  margin-left:30px;

  .chat-content-on {
    font-weight:bold;
  }

  .chat-author-title-on {
    color: white !important;
  }

  .chat-author-avatar-on {
    align-self: center;
  }
}

.chat-form {
  align-items: center;
  background-color: white;
  border: 1px solid $color-highlighted;
  display: flex;
  height: 34px;

  input {
    border: 0;
    flex-grow: 1;
    font-size: 16px;
    margin-right: 10px;
    outline: 0;
    padding: 0 5px;
  }

  button {
    right: 0;
    width: 51px;
    height: 32px;
    background-color: #f2f2f2;
    outline: 0;
    border: 0;
    font-family: 'PictoOutline';
  }

  button::before {
    content: "=";
  }

  button:hover {
    background-color: #999;
  }
}

.modal {
  .chat-list {
    max-height: calc(100vh - 400px);
  }
}

.chat-message-call-visio {
  background: lightgray;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

  p {
    font-weight: bold;
  }

  a {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: mediumseagreen;
  }

  .call-visio-refuse {
    background-color: red;
  }

  .call-visio-refuse:after {
    position: absolute;
    content: "/";
    font-weight: 700;
    font-size: 2em;
    left: 17px;
    top: -8px;
    color: white;
  }

  span {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;

    .glyphicon {

      .glyphicon-facetime-video {
        width: 50px;
        height: 50px;
        text-decoration: none;

      }
    }

  }

}
