.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 115px;
  margin: 0 auto;
  @include bg-linear-gradient($gradient-header-left-color, $gradient-header-right-color);
  overflow: hidden;

  .logo {
    display: block;
    width: 100%;
  }

  a {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}


@media screen and (max-width: 767px) {
  .header {
    &.hide-on-mobile {
      display: none !important;
    }
  }

  body.menu-mobile-opened {
    background: $color-primary;
  }
}

.header-mobile {
  margin: 0 auto;
  text-align: center;
  @include bg-linear-gradient($gradient-header-left-color, $gradient-header-right-color);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);

  .logo {
    width: 100%;
  }
}

.header__info {
  position: absolute;
  top: 0;
  left: 290px;
  font-size: 15px;
  line-height: 115px;
  height: 115px;
  color: $gradient-text-color;

  > div {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
  }
}

.header__navigation {
  font-family: OpenSans, Helvetica, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 20px;

  > li {
    float: left;
    font-size: 15px;
    margin-left: 8px;

    i[class^='icon-'] {
      float: left;
      font-size: 20px;
      margin-top: 7px;

      &.notification {
        float: right !important;
        margin-left: 5px;
        color: $color-notification;
      }
    }

    &.notifs {
      display: flex;
      i[class^='icon-'] {
        margin-right: 5px;
      }
      span.alert-notification {
        margin-top: 7px;
      }
    }

    a {
      display: block;
      min-width: 35px;
      height: 35px;
      line-height: 36px;
      color: $gradient-header-button-text-color;
      padding: 0 9px;
      border-radius: 15px;
      @include bg-linear-gradient($gradient-header-button-left-color, $gradient-header-button-right-color);
      transition: background .2s ease-in-out;

      &:hover {
        text-decoration: none;
      }
    }

    .notif {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 21px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      padding-right: 1px;
      margin-left: 5px;
      border-radius: 100%;
      background: $color-notification;
    }
  }
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px;
  margin: 0 auto;
  background: $color-primary;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);

  .navigation {
    position: static;

    button {
      position: relative;
      background: none;
      border: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      font-family: OpenSans, Helvetica, sans-serif;
      padding-left: 28px;

      > i {
        position: absolute;
        left: 0;
        top: 4px;
      }
    }
  }
  .navigation__content {
    top: -2px;
    width: 100%;
    padding: 0 10px 30px;
    border: none;
    border-radius: 0;
    background: $color-primary;

    .navigation__close {
      position: absolute;
      right: 20px;
      bottom: 20px;
      padding-left: 32px;

      > i {
        position: absolute;
        left: 0;
        top: -4px;
        font-size: 35px;
      }
    }

    .column {
      padding-left: 30px;
      padding-right: 30px;
    }

    a,
    span,
    h3 {
      font-size: 15px;
      color: white;
      background: $color-primary;
      padding: 0 10px;

      &.inactive {
        color: rgba(255, 255, 255, .3);
        display: inline-block;
      }
    }

    h3 {
      position: relative;
      font-size: 15px;
      padding: 15px 10px 15px 40px !important;
      border-radius: 20px;
      background: rgba(255, 255, 255, .15) !important;

      > i {
        position: absolute;
        left: 13px;
        top: 11px;
        font-size: 20px;
      }
    }

    li {
      position: relative;
      overflow: hidden;
      padding: 2px 0;
      margin: 0 12px 0 2px;

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        width: 100%;
        border-top: 2px dotted rgba(255, 255, 255, .3);
        z-index: -2;
      }

      .state {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        padding: 3px 10px 2px;
        border-radius: 10px;
        background-color: #4e4e4e;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: -3px;
          width: 100%;
          height: 100%;
          background: $color-primary;
          z-index: -1;
        }
      }
    }
  }

  .navigation__item {
    margin: 30px 0 10px;
  }
}

.sub-header-desktop {
  position: relative;
}

.sub-header__item {
  > li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;

    &:last-child {
      margin-right: 0;
    }

    .icon-alert {
      font-size: 20px;
      color: $color-notification;
      margin-left: 5px;
      max-width: 20px;
      max-height: 20px;
    }
  }
}

.content-header {
  margin-top: 10px;
  padding: 18px 0;

  h1 {
    margin: 5px 30px 0 0;
  }

  .nav {
    > li {
      > a {
        padding: 6px 12px;
      }
    }
  }

  .nav-pills {
    > li {
      > a {
        border-radius: 12px;
        background-color: $bg-container-color;
        color: $color-primary;
      }

      + li {
        margin-left: 10px;
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          color: #fff;
          background-color: $color-primary;
        }
      }
    }
  }
}

.toolbar-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  #navigation-mobile {
    position: absolute;
    margin: auto;
    top: 0;
    right: 5px;
    bottom: 0;
    color: white;
    background: none;
    border: none;
    > i {
      font-size: 30px;
    }
  }

  .sub-header__item {
    display: flex;
    height: 100%;
    align-items: center;
    a {
      display: inline-block;
      position: relative;
      border-radius: 25px;
      > span {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 25px;
      }
    }
  }
}

.mobile-menu {
  .mobile-menu-items {
    width: 100%;
    height: 100%;
    padding: 10px 10px 60px 10px;
    border: none;
    border-radius: 0;
    background: $color-primary;

    .btn {
      display: block;
      text-align: left;
      margin-bottom: 10px;
    }
  }

  .fixed__navigation__close {
    background: $color-primary;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: right;

    .navigation__close {
      background: none;
      border: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      font-family: OpenSans, Helvetica, sans-serif;

      > i {
        font-size: 35px;
        float: right;
        margin: -4px 0 0 10px;
      }
    }
  }
}
