@media screen and (max-width: 425px) {
  .catalog-mobile-filters {
    width: 100%;
  }

  .header-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    background: $color-primary;
    top: 0;
    z-index: 9999;
    padding: 16px;

    .header-mobile-item {

      color: white;
      order: 0;
      flex: 0 1 auto;
      align-self: auto;

      .menu-mobile-button {

        > span.button-count {
          float: right;
        }
      }

      &.open {

        .menu-mobile-title {
          display: none;
        }

        .menu-mobile-button {
          display: block
        }
      }

      .menu-mobile-title {
        display: block;
        font-size: 15px !important;
      }

      .menu-mobile-button {
        display: none;
      }

      > div {
        > ul {
          > li.catalog-mobile-filter {
            background: #525252;
            display: flex;
            flex-direction: column;
            flex-flow: row;
            margin-top: 8px;

            > a {
              color: white;
            }

            > span {
              text-align: left;
              float: left;
              position: relative;
              min-height: 1px;
            }

            > span.filter-content {
              width: 83.3333333333%;
            }

            > span.filter-count {
              margin-right: 10px;
              width: 16.6666666667%;
            }
          }
        }
      }
    }

    .header-mobile-menu {
      display: none;

      &.open {
        display: block;
      }
    }

    .header-mobile-close {
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 9999;
      margin-right: 10px;

      .header-close {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        font-family: OpenSans, Helvetica, sans-serif;
      }
    }
  }

  i {
    top: 3px !important;
  }
}
