@media screen and (max-width: 425px) {
  .header-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    background: $color-primary;
    top: 0;
    z-index: 9999;
    padding: 16px;

    .header-mobile-item {

      color: white;
      order: 0;
      flex: 0 1 auto;
      align-self: auto;

      &.open {

        .menu-mobile-title {
          display: none;
        }

        .menu-mobile-button {
          display: block
        }
      }

      .menu-mobile-title {
        display: block;
      }

      .menu-mobile-button {
        display: none;
      }

      > div {
        > ul {
          > li {
            > a {
              color: white;
            }
          }
        }
      }
    }

    .header-mobile-menu {
      display: none;

      &.open {
        display: block;
      }
    }

    .header-mobile-close {
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 9999;
      margin-right: 10px;

      .header-close {
        color: white;
      }
    }
  }
}
