
.object--image {
    margin-bottom: 40px;

    .image-background {
        width: 100%;
        color: #C3C3C3;

        .placeholder {
            background-color: #fff;
            height: 160px;
            line-height: 160px;
            font-size: 0;
            box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
            text-align: center;

            .add-photo {
                font-size: 15px;
            }
        }
    }

    img {
        max-height: 160px;
        max-width: 100%;
    }
}

.object--image--preview {
    text-align: center;
    img {
        max-height: 160px;
        max-width: 100%;
    }

    .object--image--header {
        padding-bottom: 10px;
    }

    .object--image--footer {
        padding-top: 10px;
    }
}

.object--form--field {
    margin-top: 30px;
}

.buyable-product-row {
    margin: 5px;
}

.product-price {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: $color-highlighted;
    sup {
        font-size: 10px;
        top: -0.8em;
    }
}
