#notificationCallVisio {
  .modal-body {
    background: white;
    border-radius: 4px;
    padding: 20px;
    margin: 0;
  }

  .modal-content {
    text-align: center;
  }

  .chat-message-call-visio {
    margin-top: 20px;
  }

  p {
    margin: 0;
  }
}
