.networking_container {
  max-width: auto;
  margin: 25px auto 0 auto;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h2 {
    text-transform: none;
    font-size: 24px;
    small {
      font-size: 75%;
    }
  }

  span.alert-notification {
    display: inline-block;
  }

  .networking_chat {
    width: 49%;

    .chat-list {
      height: auto;
      max-height: calc(100vh - 420px);
    }
  }

  .networking_list {
    width: 49%;
    padding: 25px 25px;
    margin-bottom: 0px;
    border-radius: 5px;
    background: #E8E8E9;
    margin-right: -15px;
    margin-left: -15px;
  }

  .networking_list_header {
    display: flex;
    justify-content: space-between;

    .networking_list_search {
      align-items: center;
      background: white;
      border: 1px solid $border-light;
      display: flex;
      height: 34px;

      input {
        border: 0;
        flex-grow: 1;
        font-size: 16px;
        margin-right: 10px;
        outline: 0;
        padding: 0 5px;
      }
    }
  }

  .list {
    &--users td {
      display: flex;
      a {
        align-items: flex-end;
        display: flex;
      }

      p {
        align-items: flex-end;
        display: flex;
        margin: 0;

        em {
          padding-left: 5px;
        }
      }
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      margin-right: 10px;
      display: inline-block;
      height: 32px;
      object-fit: cover;
      width: 32px;
      border-radius: 50%;
    }
  }
}

.privateChat {
  display: block;
}

@media (max-width: 1024px) {

  .networking_container {
    display: block;
    margin: 20px;

    .networking_list_header {
      display: block;
    }

    .networking_chat {
      width: 100%;
      max-width: 100%;
      margin-top:30px;
    }

    .networking_list {
      width: 100%;
      max-width: 100%;
      margin: 20px 0 0 0;
    }

    .modal{
      .modal-body {
        margin: 0px 10px;
      }

      .modal-header, .modal-footer {
        padding: 15px;
      }
    }

  }
    .networking_list_header h2 small {
      display: block;
      padding-top: 20px;
    }

    .list {
        margin-top: 20px;
    }

}
