
.object--nomenclature {

    .badge-skill {
        background-color: #222;
        color: #fff;
        text-transform: none;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: normal;
        font-family: RobotoRegular, HelveticaNeue, Helvetica, sans-serif;
    }

    ul {
        margin-bottom: 18px;

        > li {
            display: inline;
            margin-right: 4px;

            &:after {
                content: '●';
                color: $color-highlighted;
                margin-left: 6px;
            }
            &:last-child:after { content: ' '; }

            &:nth-child(even) { background: none; }
            &.highlight {
                color: $color-highlighted;
                font-family: OpenSans, Helvetica, sans-serif;
                text-transform: uppercase;
            }
        }
    }

    .help {
        color: #999;
    }

    .title-table {
        font-size: 15px;
        color: #FFF;
        padding: 10px;
        margin: 15px 0 0 0;
        display: inline-block;
        position: relative;
        @include bg-linear-gradient($gradient-left-color, $gradient-right-color);

        &:before {
            border-color: $color-primary transparent transparent transparent;
            position: absolute;
            left: 0;
            border-width: 15px 0 0 40px;
            display: block;
            border-style: solid;
            bottom: -15px;
            content: '';
        }
    }

    .border-table {
        border: solid 1px #CCC;
        padding: 10px;

        &.with-title {
            margin: 0 0 10px 40px;
        }

        .table {
            margin-bottom: 0;

            tbody td {
                border: 0;
                padding: 0;

                .checkbox {
                    .control-label {
                        margin: 0;
                        padding: 5px 5px 5px 30px;
                        text-align: left;
                    }

                    margin: 0;
                    padding: 0;
                }

                .link-add-skill {
                    display: inline-block;
                    padding: 8px 0 8px 10px;
                }
            }
        }

        .table-striped {
            > tbody > tr:nth-of-type(odd) {
                background-color: $bg-container-color;
            }
        }
    }

    .link-table {
        color: #999;
        a { color: #999; }
    }


    &.style--style-1 {
        // transparent background
    }

    &.style--style-2 {
        // white background
        padding: 15px 20px;
        //margin-bottom: 2px !important;
        background: #FFFFFF;
        //&:last-child { margin-bottom: 0 !important; }
    }

    &.style--style-3 {
        // white background with left border and bottom shadow
        margin-top: 20px;
        padding: 15px 30px;
        border-left: 2px solid #2F2F2F;
        background: #FFFFFF;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);

        &:before {
            @extend .section-before;
            top: 0;
            left: 0;
            width: 8px;
            height: 60px;
        }
    }

}
