
.object--participant {

    .list--users {
        .user {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;

            p { margin: 0; }
        }

        .user--notif {
            .bullet { display: block !important; }
        }

        .user__avatar {
            position: relative;
            float: left;
            margin-right: 20px;

            .bullet {
                display: none;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 22px;
                height: 22px;
                background: $color-notification;
                border-radius: 100%;
                border: 2px solid $bg-container-color;
            }

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                border-radius: 36px;
                text-align: center;
                overflow: hidden;
                background: #D0D0D0;

                > img { width: 100%; }
                > p {
                    color: #FFFFFF;
                    font-size: 35px;
                }
            }
            a  {
                color: #fff;
                text-decoration: none;
            }
        }

        .user__infos {
            .job {
                color: $color-highlighted;
                font-family: openSans;
                text-transform: uppercase;
            }

            .notif { color: $color-notification; }
        }
    }

}
