.section {
  position: relative;
  margin-bottom: 30px;

  footer {
    margin-top: 10px;
    line-height: 22px;

    i[class^='icon-'] {
      font-size: 20px;
      //float: left;
      margin-right: 5px;
      color: $color-highlighted;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &.row {
    > div > section { margin-bottom: 0; }
  }

  &.section--2col {
    display: flex;

    > .col-md-6:first-child { display: flex; }
  }
}

.section__content {
  img { width: 100%; }

  &.show-less {
    max-height: 86px;
    overflow: hidden;
  }
}

.section-before {
  content: ' ';
  position: absolute;
  background: #2F2F2F;
}

.section--main {
  h2 {
    text-transform: initial;
    margin-bottom: 25px;
  }

  .image {
    img { box-shadow: 0 10px 10px 0 rgba(0,0,0,.2); }
  }
}

.section--category {

  .row {
    display: flex;
    align-items: center;
  }

  .link { text-align: right; }
}

.section--skill {
  padding: 15px 30px;
  border-left: 2px solid #2F2F2F;
  background: #FFFFFF;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);

  &:before {
    @extend .section-before;
    top: 0;
    left: 0;
    width: 8px;
    height: 60px;
  }
}

// Style trait noir en haut
.section--list {
  padding-top: 25px;
  border-top: 2px solid #2F2F2F;

  &:before {
    @extend .section-before;
    top: 0;
    right: 0;
    width: 60px;
    height: 8px;
  }
}
