ul.select-from-nomenclature-field__selected-items li {
  list-style: none;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

ul.select-from-nomenclature-field__selected-items li:not(.select-from-nomenclature-field__more) {
  background-color: #e4e4e4;
}

.select-from-nomenclature-field__links {
  padding: 5px;
}
