
.object--tag {
    h2 {
        font-size: 24px;
        margin: 0;
    }

    p {
        color: $color-highlighted;
        font-family: openSans;
        margin: 0;
    }

    &.style--default {

        // Inline list
        ul {
            margin-bottom: 20px;

            > li {
                display: inline-block;
                margin-right: 4px;
                color: $color-highlighted;

                &:after {
                    content: '●';
                    color: #000000;
                }
                &:last-child:after { content: ' '; }

                &:nth-child(even) { background: none; }
                &.highlight {
                    font-family: OpenSans;
                    text-transform: uppercase;
                }
            }
        }

    }
}
