.chat-opened {
  .layout-container {
    width: 75%;
  }
}

.chat-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.ots-text-chat {
  margin: 0 10px;
  background: white;

  .ots-messages-header {
    display: none;
  }

  .ots-messages-header.hidden {
    display: none;
  }

  .ots-messages-holder {
    height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: scroll
  }

  .ots-messages-holder.has-alert {
    padding-top: 10px;
  }

  .ots-messages-holder .ots-messages-alert {
    position: relative;
    padding: 10px;
    min-height: 24px;
    background: rgba(248, 231, 28, 0.25);
    margin: 0 10px 10px;
    text-align: center;
    color: #ad7212;
    font-size: 14px;
    line-height: 1.4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
  }

  .ots-messages-holder .ots-messages-alert.green {
    color: #417505;
    background-color: rgba(126, 210, 33, 0.30);
  }

  .ots-messages-holder .ots-messages-alert.red {
    color: #c41f4b;
    background-color: rgba(210, 33, 33, 0.30);
  }

  .ots-messages-holder .ots-message-item {
    position: relative;
    padding: 0 0 0 50px;
    margin: 20px 10px 10px;
  }

  .ots-messages-holder .ots-message-item .ots-user-name-initial {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #b3b3b3;
    color: #fff;
    font-size: 24px
  }

  .ots-messages-holder .ots-message-item .ots-item-text {
    position: relative;
    padding: 12px;
    min-height: 65px;
    background: #f2f2f2;
    margin-left: 14px;
    color: #7c7c7c;
    font-size: 15px;
    line-height: 1.2;
    -webkit-border-radius: 0 8px 8px 8px;
    -moz-border-radius: 0 8px 8px 8px;
    border-radius: 0 8px 8px 8px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
  }

  .ots-messages-holder .ots-message-item .ots-item-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 0;
    border-color: transparent #f2f2f2 transparent transparent
  }

  .ots-messages-holder .ots-message-item .ots-item-text span {
    display: block;
    margin-bottom: 6px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
  }

  .ots-messages-holder .ots-message-item .ots-item-timestamp {
    position: absolute;
    top: -18px;
    right: 20px;
    color: #b3b3b3;
    font-size: 12px
  }

  .ots-messages-holder .ots-message-item.ots-message-sent {
    padding: 0 50px 0 0;
    margin: 30px 10px 10px 10px;
  }

  .ots-messages-holder .ots-message-item.ots-message-sent .ots-user-name-initial {
    left: inherit;
    right: 0;
    background: #259de8
  }

  .ots-messages-holder .ots-message-item.ots-message-sent .ots-item-text {
    -webkit-border-radius: 8px 0 8px 8px;
    -moz-border-radius: 8px 0 8px 8px;
    border-radius: 8px 0 8px 8px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-left: 0;
    margin-right: 14px
  }

  .ots-messages-holder .ots-message-item.ots-message-sent .ots-item-text:before {
    left: inherit;
    right: -12px;
    border-width: 14px 14px 0 0;
    border-color: #f2f2f2 transparent transparent transparent
  }

  .ots-messages-holder .ots-message-item.ots-message-sent .ots-item-timestamp {
    right: 80px
  }

  .ots-send-message-box {
    position: relative;
    width: 100%;
    height: 34px;
    border: 1px solid #c6c6c6;
    padding-right: 70px
  }

  .ots-send-message-box input[type="text"],
  .ots-send-message-box textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background: 0;
    padding: 5px 5px 0;
    font-size: 16px;
    resize: none
  }

  .ots-send-message-box button {
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 32px;
    background-color: #f2f2f2;
    outline: 0;
    border: 0;
    font-family: 'PictoOutline';
  }

  .ots-send-message-box button::before {
    content: "=";
  }

  .ots-send-message-box button:hover {
    background-color: #999;
  }

  .ots-send-message-box .ots-character-count {
    position: absolute;
    bottom: -18px;
    right: 0;
    color: #cf2027;
    font-size: 12px;
  }

  .ots-user-prof-info {
    width: auto;
    height: 430px;
    padding: 32px 46px;
  }

  .ots-user-prof-info span {
    display: block;
    margin-bottom: 10px;
    color: #5f5a5a
  }

  .ots-user-prof-info span em {
    color: #867f7f;
    font-style: normal;
  }

  .ots-user-prof-info hr {
    margin: 36px 0;
  }
}

@media screen and (max-width: 767px) {
  .chat-container {
    width: 100%;
  }

  .chat-opened {
    .layout-container {
      width: 100%;
    }
  }
}
