.chat-opened {
  .layout-container, .webinar-header, .visio-header, .video-waiting {
    width: 75%;
  }
}

.webinar-header, .visio-header {
  width: 100%;

  img {
    margin: auto;
  }
}

.chat-container {
  background: white;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: calc(100vh - 50px);
  z-index: 9999;
  overflow: hidden;
}

.side-container {
  background: white;
  padding: 10px;
  height: calc(100vh - 50px);
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  z-index: 9999;
  overflow: hidden;

  .chat-list {
    max-height: unset;
    height: calc(100vh - 160px);
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 5px;
  }
}

@media screen and (max-width: 767px) {
  .side-container {
    width: 100%;
  }

  .chat-opened {
    .layout-container {
      width: 100%;
    }
  }
}
