.background-black {
  background-color: #000000;
}

.webinar, .webinar-video, .video-conference, .video-conference-preview {
  .visio-user-name {
    top: 0;
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .viewers-container {
    color: white;
    display: inline-block;
    padding: 0 10px;
  }

  .timer-container {
    padding: 0 10px;
    display: inline-block;

    .timer {
      color: #fff;
      font-size: 18px;
      line-height: 22px;
      font-family: OpenSans, Helvetica, sans-serif;
    }
    .warning {
      font-weight: bold;
      color: red;
    }
  }

  .buttons-container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    z-index: 9999;
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 5px;

    .btn {
      position: relative;
      font-size: 15px;
      line-height: 22px;
      font-family: OpenSans, Helvetica, sans-serif;
      text-transform: uppercase;
      border: none;
      border-radius: 18px;
      transition: background .2s ease-in-out;
      display: inline-block;
      background-color: #fff;

      &.btn-off, &.btn-off:hover, &.btn-off:focus {
        background-color: $bg-fail-color;
      }
      i {
        &.glyphicon {
          color: #000;
          font-family: 'Glyphicons Halflings' !important;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
        }
        &.icon-center {
          margin: auto !important;
        }
      }
    }
  }

  .btn-group > .btn:first-child {
    &:not(:last-child):not(.dropdown-toggle) {
      @include border-right-radius(18px);
      margin-right:10px;
    }
  }

  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child) {
    @include border-left-radius(18px);
  }

  .toggle-sidebar-button {
    z-index: 9999;
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    > i {
      color: #000;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
    }
  }

  .start-fullscreen-button {
    z-index: 9999;
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    > i {
      color: #000;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
    }
  }

  .shift-with-sidebar {
    right: 60px !important;
  }

  .video-helper {
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .layout-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
      transition-property: all;
      transition-duration: 0.2s;
    }

    > div {
      background-color: #000;
      display: inline-block;
    }

    .subscriber-info {
      position: absolute;
      bottom: 0;
      background: #000;
      opacity: 0.8;
      padding: 10px;
      width: 100%;
    }
  }

  .screen-share-in-progress {
    display: flex !important;
    align-items: center;
    justify-content: center;

    div {
      background: white;
      padding: 10px;
      border-radius: 4px;
      text-align: center;
    }
  }
}

.video-conference-test {
  .video-conference-preview {
    .buttons-container {
      position: relative;
      bottom: unset;
      right: unset;
    }

    .publisher-container {
      width: 100%;
      height: 300px;
      background-color: #000000;
      float: none;
      margin: 20px auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .webinar, .webinar-video, .video-conference, .video-conference-preview {
    .video-helper {
      width: 95%;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 95%;
    }

    #visio-settings-validate {
      margin-bottom: 60px;
    }
  }
}
