body {
  font-family: RobotoRegular, HelveticaNeue, Helvetica, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-body-color;

  &.grey { background: $bg-container-color; }
}

.wrapper {
  .container-fluid {
    max-width: 1240px;
    margin: 0 auto;
  }
}

.container-fluid { position: relative; }

.main {
  margin: 0 auto;
  max-width: 1240px;

  > header {
    margin-top: 20px;
    position: relative;
    min-height: 50px;

    h1 {
      display: inline-block;
      bottom: 20px;
      line-height: 20px;
      margin: 0;

      i[class^='icon-'] {
        float: left;
        font-size: 20px;
        margin-right: 5px;
        margin-top: -2px;
      }

      > span { color: $color-highlighted; }

      img {
        float: left;
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }

    .request-meeting-sheet {
      display: inline-block;
      bottom: 14px;

      .btn {
        display: inline-block;
      }
    }

    .tabs {
      position: absolute;
      right: 20px;
      bottom: 0;
    }
  }
}
  .main__container {
    padding: 25px 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: $bg-container-color;
    margin-right: -15px;
    margin-left: -15px;
  }

.grey__container {
  padding: 25px 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: $bg-container-color;
}

.content { padding-right: 40px; }

.content-large { margin-top: 30px; }

.payment--info {
  .payment--info-block {
    padding: 15px;
  }
}

.highlight {
  color: $color-highlighted;
  font-family: OpenSans, Helvetica, sans-serif;
}

i {
  &.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
}
