// Responsive
@media screen and (max-width: 1280px) {
  .container-fluid { margin: 0 20px !important; }
}

// Responsive
@media screen and (max-width: 1000px) {
  .section--2col,
  .section .col-md-6 { display: block !important; }
}

@media screen and (max-width: 990px) {
  .sidebar { margin-top: 30px; }

  .section--2col {
    .col-md-6:first-child { margin-bottom: 30px; }
  }
}

@media screen and (max-width: 840px) {
  .header__navigation {
    .name { display: none; }
  }

  .header__info { display: none; }
}

@media screen and (max-width: 435px) {
  .wrapper { padding: 0 0 80px 0; }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 10;
    box-shadow: 0 6px 5px rgba(0,0,0,0.2);

    .logo {
      position: initial;
    }
  }

  .header__navigation { display: none; }

  .sub-header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 5px 5px 8px rgba(0,0,0,.3);

    .name { display: none; }
    .btn-lg { padding-left: 39px; }
  }

  .main {
    > header {
      .tabs {
        right: 0;

        > li a {
          padding: 24px 0;

          &:hover { background: none; }
        }

        .active,
        .name { display: none; }
      }
    }
  }

  .content { padding-right: 15px; }

  .section--main {
    .image { margin-bottom: 30px; }
  }

  .section.row {
    > div > section { margin-bottom: 30px; }
  }

  .section--white {
    &:last-child { margin-bottom: 0 !important; }
  }

  .section--large {
    > header {
      h2 {
        width: 148px;
        font-size: 25px;

        &:after { top: 30px; }
      }
    }

    .description { margin-bottom: 30px; }

    > .section__content { padding: 25px 20px 0; }
  }
}

@media screen and (max-width: 380px) {
  .messages {
    [class*=" col-"] { width: auto !important; }
    .col-xs-offset-4 { margin: auto !important; }
  }
}
