// Responsive
@media screen {
  .container-fluid { margin: 0 20px !important; }
}

// Responsive
@media screen and (max-width: 1000px) {
  .section--2col,
  .section .col-md-6 { display: block !important; }
}

@media screen and (max-width: 990px) {
  .sidebar { margin-top: 30px; }

  .section--2col {
    .col-md-6:first-child { margin-bottom: 30px; }
  }
}

@media screen and (max-width: 840px) {
  .header__navigation {
    .name { display: none; }
  }

  .header__info { display: none; }
}

// Mobile Menu and toolbar
body {
  .wrapper {
    .mobile-menu {
      display: none;
      position: absolute;
      width: 100%;
      top: 100%;
      transition: top 0.3s;
    }

    .toolbar-mobile {
      display: none;
    }
  }
}

.show-on-mobile { display: none; }
.hide-on-mobile { display: block; }

@media screen and (max-width: 767px) {
  .container-fluid {
    padding-bottom: 100px;
  }
  .left-on-mobile {
    float: left;
  }

  .container-fluid {
    &.full-mobile-container {
      width: 100%;
      max-width: none;
      padding: 5px 5px 80px 5px;
      margin: 0 !important;
    }
  }

  .container-fluid {
    &.no-margin-mobile-container {
      padding: 0;
      margin: 0 !important;
    }
  }

  .show-on-mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none !important;
  }

  body {
    .wrapper {
      .toolbar-mobile {
        display: block;
      }
    }

    &.menu-mobile-opened {
      .main-content, .profile__content, .catalog-mobile-menu-summary {
        display: none;
      }

      .wrapper {
        .header, .toolbar-mobile {
          display: none;
        }

        .mobile-menu {
          top: 0;
        }
      }
    }
  }
}

// Size of button in small width mobile screen
@media screen and (max-width: 320px) {
  .toolbar-mobile {
    .sub-header__item {
      .alert-notification {
        bottom: 50px;
        left: 30px;
      }
      a {
        height: 40px;
        width: 40px;
        > span {
          font-size: 20px;
        }
      }
    }
  }
}

// Size of button in medium width mobile screen
@media screen and (min-width: 321px) {
  .toolbar-mobile {
    .sub-header__item {
      .alert-notification {
        bottom: 50px;
        left: 30px;
      }
      a {
        height: 50px;
        width: 50px;
      }
    }
  }
}

// mobile
@media screen and (max-width: 435px) {
  .header {
    &.hide-on-mobile {
      display: none !important;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 10;
    box-shadow: 0 6px 5px rgba(0,0,0,0.2);

    .logo {
      position: static;
    }
  }

  .header__navigation { display: none; }

  .main {
    > header {
      .tabs {
        right: 0;

        > li a {
          padding: 24px 0;

          &:hover { background: none; }
        }

        .active,
        .name { display: none; }
      }
    }
  }

  .content { padding-right: 15px; }

  .section--main {
    .image { margin-bottom: 30px; }
  }

  .section.row {
    > div > section { margin-bottom: 30px; }
  }

  .section--white {
    &:last-child { margin-bottom: 0 !important; }
  }

  .section--large {
    > header {
      h2 {
        width: 148px;
        font-size: 25px;

        &:after { top: 30px; }
      }
    }

    .description { margin-bottom: 30px; }

    > .section__content { padding: 25px 20px 0; }
  }
}

@media screen and (max-width: 380px) {
  .messages {
    [class*=" col-"] { width: auto !important; }
    .col-xs-offset-4 { margin: auto !important; }
  }
}
