$bg-body-color: #FFFFFF;
$bg-container-color: #E8E8E9;
$bg-container-darkened-color: #D8D8D8;
$bg-success-color: #67BB1F;
$bg-fail-color: #FF4902;
$bg-warning-color: #F7B32B;

$gradient-left-color: #59a4eb;
$gradient-right-color: #00398c;
$gradient-text-color: #FFFFFF;

$color-primary: #2F2F2F;
$color-highlighted: #00398C;
$color-notification: #FF4902;

$border-light: #c6c6c6;

$button-text-color: #FFFFFF;
$button-bg-color-inactive: rgba(#FFFFFF, .15);
$button-bg-color-inactive-hover: rgba(#FFFFFF, .3);

$agenda-meet-margin: 2px;
