// Import all bootstrap css except Print

// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// End of Bootstrap importing

@import "base/_vars";
@import "base/_fonts";
@import "base/_layout";
@import "base/_mixins";
@import "base/_responsive";

@import "components/_select2";
@import "components/_modal";

@import "objects/_agenda";
@import "objects/_chat";
@import "objects/_program";
@import "objects/_catalog-mobile-filters";
@import "objects/_tip";
@import "objects/_messages";
@import "objects/_networking";
@import "objects/_select-from-nomenclature-field";
@import "objects/_videoConference";
@import "objects/_videoConferenceChat";
@import "objects/_videoConferenceQuestions";

@import "generic/_titles";
@import "generic/_buttons";
@import "generic/_table";
@import "generic/_lists";
@import "generic/_rating";

@import "print/_print";

@import "~intl-tel-input/build/css/intlTelInput";

@import "~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";

.radio .required:after {
  content: '';
}

.radio-inline.required:after {
  content: '';
}

.required:after {
    content: '*';
}

.btn-np {
    padding: 0;
}

.mg-bt {
    margin-bottom: 20px;
}

.mg-tp {
    margin-top: 20px;
}

.mg-left {
  margin-left: 20px;
}

.mg-left-8 {
  margin-left: 8px;
}

.clearboth {
    clear: both;
}

.mg-tp--5px {
  margin-top: -5px;
}

.ft-size-18 {
  font-size: 18px !important;
}

.ft-bold {
  font-weight: bold !important;
}

.notification-not-read {
    font-weight: bold;
}

.info-block {
  color: $color-highlighted;
  text-decoration: underline;
}

.intl-tel-input {
    width: 100%;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.text-xl {
    font-size: 50px;
}

.text-underline {
    text-decoration: underline;
    &i {
      text-decoration: none;
    }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.important {
  position: relative;
  color: $color-highlighted;
  font-size: 15px;
  padding: 20px;
  border-radius: 5px;
  background: $bg-container-color;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3) inset;

  p:last-child { margin-bottom: 0; }

  h2 {
    font-size: 15px;
    text-transform: uppercase;
  }

  li {
    margin-bottom: 20px;

    &:before {
      content: '◆';
      float: left;
      margin-top: -1px;
      margin-right: 5px;
    }

    &:last-child { margin-bottom: 0; }
  }

  &.success,
  &.fail {
    color: #FFFFFF;

    > .text-danger {
      color: #FFFFFF;
    }
  }

  &.success { background: $bg-success-color; }
  &.fail { background: $bg-fail-color; }
  &.warning {
    background: $bg-warning-color;
    color: #333;
  }
  &.confirm {
    text-align: center;
    background: $bg-success-color;
    color: #ffffff;
  }
}

.white {
  color: #ffffff;
}

.link-white {
  color: #ffffff;

  &:hover, &:visited, &:active, &:focus {
    color: #ffffff;
  }
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none !important;
}

.product-limite {
  font-family: OpenSans, Helvetica, sans-serif;
  background: #F2E63D;
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
}

.modal-content-request {
  margin-top: 0;
}

@media (min-width: 768px) {
  .modal-dialog-welcom-popin {
    width: 900px;
  }
}

.see-more-align {
  margin-bottom: 30px;
}

.user-availability-icon {
  width: 3px;
}

.user-availability-icon-caption {
  margin-right: 15px !important;
}

.user-available {
  color: limegreen;
}

.user-not-available {
  color: black;
}

.error-content {
  margin: 80px auto 0;
  max-width: 630px;
}

.error-powered {
  max-width: 150px;
  margin: 0 auto;
}

.error-header {
  background-color: #0099E0;
  > img {
    max-height: 100px;
  }
}

.error-title {
  font-size: 25px;
}

.OT_root:-webkit-full-screen  {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;;
  top: 0 !important;
}

.terms-of-sale-content {
  background: #ffffff;
  padding: 25px;
}

.reduce-padding {
  padding: 10px 15px 0px 15px;
}

.dot {
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.recording {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
