@import "bootstrap-sass/assets/stylesheets/bootstrap";

@import "base/_vars";
@import "base/_layout";
@import "base/_mixins";
@import "base/_responsive";

@import "components/_select2";

@import "generic/_buttons";

@import "intl-tel-input/build/css/intlTelInput";

.required:after {
    content: '*';
}

.btn-np {
    padding: 0;
}

.mg-bt {
    margin-bottom: 20px;
}

.mg-tp {
    margin-top: 20px;
}

.clearboth {
    clear: both;
}

.notification-not-read {
    font-weight: bold;
}

.intl-tel-input {
    width: 100%;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.text-xl {
    font-size: 50px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.important {
  position: relative;
  color: $color-highlighted;
  font-size: 15px;
  padding: 20px;
  border-radius: 5px;
  background: $bg-container-color;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3) inset;

  p:last-child { margin-bottom: 0; }

  h2 {
    font-size: 15px;
    text-transform: uppercase;
  }

  li {
    margin-bottom: 20px;

    &:before {
      content: '◆';
      float: left;
      margin-top: -1px;
      margin-right: 5px;
    }

    &:last-child { margin-bottom: 0; }
  }

  &.success,
  &.fail {
    color: #FFFFFF;

    > .text-danger {
      color: #FFFFFF;
    }
  }

  &.success { background: $bg-success-color; }
  &.fail { background: $bg-fail-color; }
}
